<% layout('../layout/template') -%>
<script type='text/javascript'>
	//Set class=active for active nav item
	$("#about_nav_item").addClass("active");
	$("#dmca_nav_item").addClass("active");
</script>
<div class="page-container">
	<div class="row">
		<div class="col-xs-12">
			<h2>
				Digital Millennium Copyright Act (DMCA) Information
			</h2>
			<p>
				Instasync.com respects the intellectual property of others.
			</p>
			<p>
				If you believe that your copyrighted work has been copied in a way that constitutes copyright infringement and is accessible on this site, you may notify our copyright agent, as set forth in the Digital Millennium Copyright Act of 1998 (DMCA). For your complaint to be valid under the DMCA, you must provide the following information when providing notice of the claimed copyright infringement:
			</p>
			<ul>
				<li>
					A physical or electronic signature of a person authorized to act on behalf of the copyright owner Identification of the copyrighted work claimed to have been infringed
				</li>
				<li>
					Identification of the material that is claimed to be infringing or to be the subject of the infringing activity and that is to be removed
				</li>
				<li>
					Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address
				</li>
				<li>
					A statement that the complaining party "in good faith believes that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or law"
				</li>
				<li>
					A statement that the "information in the notification is accurate", and "under penalty of perjury, the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed"
				</li>
			</ul>
			<p>
				The above information must be submitted as an email notification to the following designated email address:
			</p>
			<p>
				<strong>
					dmca@instasync.com
				</strong>
			</p>
			<p>
				As videos and images are not actually hosted by InstaSync and are shared by users themselves, here you can find the relavent DMCA reporting for the various media sources shared on this site.
			</p>
			<ul>
				<li><a href="https://support.google.com/youtube/answer/2807622?hl=en">YouTube</a></li>
				<li><a href="http://vimeo.com/dmca">Vimeo</a></li>
				<li><a href="http://www.dailymotion.com/legal/copyright">DailyMotions</a></li>
				<li><a href="http://www.twitch.tv/p/dmca">Twitch.TV</a></li>
				<li><a href="http://imgur.com/removalrequest">Imgur</a></li>
			</ul>
			WE CAUTION YOU THAT UNDER FEDERAL LAW, IF YOU KNOWINGLY MISREPRESENT THAT ONLINE MATERIAL IS INFRINGING, YOU MAY BE SUBJECT TO HEAVY CIVIL PENALTIES. THESE INCLUDE MONETARY DAMAGES, COURT COSTS, AND ATTORNEYS’ FEES INCURRED BY US, BY ANY COPYRIGHT OWNER, OR BY ANY COPYRIGHT OWNER’S LICENSEE THAT IS INJURED AS A RESULT OF OUR RELYING UPON YOUR MISREPRESENTATION. YOU MAY ALSO BE SUBJECT TO CRIMINAL PROSECUTION FOR PERJURY.
		</div>
	</div>
</div>