<% layout('../layout/template') -%>
<div class="page-container">
	<div class="row">
		<div class="col-xs-12" style="width: 90%; float: none; margin: 0 auto; margin-top: 40px;">
		<% if (typeof valid_token != 'undefined' && valid_token == true) { %>
			<div class="form-horizontal">
				<div class="form-group">
					<label for="input_password" class="col-sm-2 control-label">New</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="input_password" placeholder="New Password">
					</div>
				</div>
				<div class="form-group">
					<label for="input_password_confirm" class="col-sm-2 control-label">Confirm</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="input_password_confirm" placeholder="Confirm Password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<p id="password_reset_status"></p>
						<button id="password_reset" type="submit" class="btn btn-primary">Change</button>
					</div>
				</div>
			</div>
			<% if (typeof valid_token != 'undefined'){ %>
			<script>
				var token = "<%= token %>";
			</script>
			<% } %>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#password_reset').button({ disabled: false});
				});
				$("#password_reset").click(function(){
					var self = $(this);
					var errorEle = $("#password_reset_status");
					var passwordEle = $("#input_password");
					var confirmEle = $("#input_password_confirm");
					errorEle.removeClass();
					errorEle.text("");
					passwordEle.parent().removeClass("has-error");
					confirmEle.parent().removeClass("has-error");
					if (passwordEle.val() != confirmEle.val()){
						errorEle.addClass("text-danger");
						errorEle.text("Passwords do not match. Please try again.");
						passwordEle.parent().addClass("has-error");
						confirmEle.parent().addClass("has-error");
						return;
					}
					request.passwordReset(token,passwordEle.val(), function(err, response){
						self.attr("disabled",false);
						if (err){
							errorEle.addClass("text-danger");
							errorEle.text(err.responseJSON.message);
							if (err.responseJSON.field_name == "new"){
								passwordEle.parent().addClass("has-error");
								confirmEle.parent().addClass("has-error");
							}
						}
						else{
							errorEle.removeClass();
							errorEle.addClass("text-success");
							errorEle.text(response.message);
							passwordEle.val("");
							confirmEle.val("");
						}
					});
				});
			</script>
		<% }else{ %>
			<p>
				The reset token you provided is either not valid or expired.
			</p>
		<% } %>
		</div>
	</div>
</div>