<%
	layout('../layout/template')
-%>
<script type='text/javascript'>
	//Set class=active for active nav item
	$("#about_nav_item").addClass("active");
	$("#privacy_nav_item").addClass("active");
</script>
<div class="page-container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Privacy Policy</h1>
			<h3>Information that is gathered from visitors</h3>
			<p>
				In common with other websites, log files are stored on the web server saving details such as the visitor's IP address, browser type, referring page and time of visit.
			</p>
			<p>
				Cookies may be used to remember visitor preferences when interacting with the website.
			</p>
			<p>
				Where registration is required, the visitor's email and a username will be stored on the server.
			</p>
			<h3>
				How the Information is used
			</h3>
			<p>
				The information is used to enhance the vistor's experience when using the website to display personalised content and possibly advertising.
			</p>
				E-mail addresses will not be sold, rented or leased to 3rd parties.
			<p>
				E-mail may be sent to inform you of news of our services or offers by us or our affiliates.
			</p>
			<h3>
				Visitor Options
			</h3>
			<p>
				You may be able to block cookies via your browser settings but this may prevent you from access to certain features of the website.
			</p>
			<h3>
				Cookies
			</h3>
			<p>
				Cookies are small digital signature files that are stored by your web browser that allow your preferences to be recorded when visiting the website. Also they may be used to track your return visits to the website.
			</p>
			<p>
				3rd party advertising companies may also use cookies for tracking purposes.
			</p>
			<h3>
				Google Analytics
			</h3>
			<p>
				Google Analytics is used to learn more about our users and how to best assist them. No personal information is collected,
				however, client data such as Operating System, Browser, and Geographic may be stored for statistical purposes.
			</p>
		</div>
	</div>
</div>