<% layout('../layout/template') -%>
<script type='text/javascript'>
	//Set class=active for active nav item
	$("#about_nav_item").addClass("active");
	$("#terms_nav_item").addClass("active");
</script>
<div class="page-container">
	<div class="row">
		<div class="col-xs-12">
			<h2>
					Web Site Terms and Conditions of Use
			</h2>
			<h3>General Rules</h3>
			<p>
				While moderation is largely left to the discretion of room moderators and room owners, the following rules apply globally and must be observed at all times on the site. Failure to comply with these rules may result in any of the following, but not limited to, temporary or permanent removal of your user account, blocked or limited access to the website or any InstaSync services, cease and desist letter to your Internet Service Provider, or your information forwarded to appropriate law enforcement agencies where appropriate.
			</p>
			<ul>
				<li>
					Trolling, spamming, or otherwise intentionally disrupting a users room is not allowed
				</li>
				<li>
					Bullying or otherwise intending to hurt other users is not allowed
				</li>
				<li>
					Harrassing, stalking, or 'doxing' other InstaSync users both online and offline is not allowed (Chat logs may be forwarded to appropriate law enforcement agencies when requested by said authority)
				</li>
				<li>
					Impersonating InstaSync employees, staff, volunteers, moderators, administrators, or users.
				</li>
				<li>
					Attempting to exploit the site in order to gain unauthorized access or interrupt service is not allowed. If you believe you have found an exploit, please responsibly disclose it to an administrator at <strong>admin@instasync.com</strong>
				</li>
			</ul>
			<h3>
					1. Terms
			</h3>

			<p>
					By accessing this web site, you are agreeing to be bound by these
					web site Terms and Conditions of Use, all applicable laws and regulations,
					and agree that you are responsible for compliance with any applicable local
					laws. If you do not agree with any of these terms, you are prohibited from
					using or accessing this site. The materials contained in this web site are
					protected by applicable copyright and trade mark law.
			</p>

			<h3>
					2. Use License
			</h3>

			<ol type="a">
					<li>
							Permission is granted to temporarily download one copy of the materials
							(information or software) on InstaSync's web site for personal,
							non-commercial transitory viewing only. This is the grant of a license,
							not a transfer of title, and under this license you may not:

							<ol type="i">
									<li>modify or copy the materials;</li>
									<li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
									<li>attempt to decompile or reverse engineer any software contained on InstaSync's web site;</li>
									<li>remove any copyright or other proprietary notations from the materials; or</li>
									<li>transfer the materials to another person or "mirror" the materials on any other server.</li>
							</ol>
					</li>
					<li>
							This license shall automatically terminate if you violate any of these restrictions and may be terminated by InstaSync at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
					</li>
			</ol>

			<h3>
					3. Disclaimer
			</h3>

			<ol type="a">
					<li>
							The materials on InstaSync's web site are provided "as is". InstaSync makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, InstaSync does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
					</li>
					<li>
						InstaSync is not responsible for the content shared, or any consequences of sharing such content. InstaSync does not endorse any user-provided content. Viewing shared content is done at the user's own risk.
					</li>
			</ol>

			<h3>
					4. Limitations
			</h3>

			<p>
					In no event shall InstaSync or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on InstaSync's Internet site, even if InstaSync or a InstaSync authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
			</p>

			<h3>
					5. Revisions and Errata
			</h3>

			<p>
					The materials appearing on InstaSync's web site could include technical, typographical, or photographic errors. InstaSync does not warrant that any of the materials on its web site are accurate, complete, or current. InstaSync may make changes to the materials contained on its web site at any time without notice. InstaSync does not, however, make any commitment to update the materials.
			</p>

			<h3>
					6. Links
			</h3>

			<p>
					InstaSync has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by InstaSync of the site. Use of any such linked web site is at the user's own risk.
			</p>
			<h3>
					7. User Accounts & Rooms
			</h3>
			<p>
					InstaSync reserves the right to disable and/or remove accounts and their corresponding room at anytime, with or without notice.
			</p>
			<h3>
					8. Site Terms of Use Modifications
			</h3>

			<p>
					InstaSync may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
			</p>

			<h3>
					9. Governing Law
			</h3>

			<p>
					Any claim relating to InstaSync's web site shall be governed by the laws of the State of Texas without regard to its conflict of law provisions.
			</p>
			<h3>
				10. Age Restriction
			</h3>
			<p>
				By viewing this website you also confirm that you are either age 18, older than 18, or have a parent/guardian's permission to view the contents of this website.
			</p>
		</div>
	</div>
</div>