<div class="footer">
	<div class="container">
		<div class="footer-nav">
			<span class="nav-item hidden-xs"><a href="/pages/dmca" target="_blank">DMCA</a></span>
			<span class="dot hidden-xs"></span>
			<span class="nav-item hidden-xs"><a href="/pages/terms" target="_blank">Terms</a></span>
			<span class="dot hidden-xs"></span>
			<span class="nav-item"><a href="mailto:admin@instasync.com">Contact</a></span>
			<span class="dot"></span>
			<span class="nav-item"><a href="http://facebook.com/InstaSync" target="_blank">Facebook</a></span>
			<span class="dot"></span>
			<span class="nav-item"><a href="http://twitter.com/InstaSyncApp" target="_blank">Twitter</a></span>
			<span style="float: right;margin-right: 4px;" class="nav-item">&copy; InstaSync</span>
		</div>
	</div>
</div>